
	<input type="text" ng-model="data.dir">
	<button ng-click="setDirectory()">Check for duplicates</button> 
	<button ng-click="purge()">Purge all selected</button>

	<div class="dupe-images">
		<ul>
			<li ng-repeat="files in data.dupes" class="row">
				<ul>
					<li ng-repeat="file in files" class="col-xs-3 col-md-2 col-lg-1">
						<a href="#" class="thumbnail" ng-class="{toggled: file.toggled}" ng-click="toggleDupe(file); $event.preventDefault();">
							<img ng-src="{{file.path}}" />
							<span>{{ file.fileName }}</span> | 
							<span>{{ file.dim.width }}x{{ file.dim.height }}</span>
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>