
html, body {
    height: 100%;
}

body {
    background-color: initial;
    border: 3px solid greenyellow;
}

body:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    border: 1px solid #ffea00;
}

.init * {
    display: none;
}

.init .loader {
    display: block;
}

.main {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 4px;
  border: 0;
}