.main {
	background-color: rgba(255, 255, 255, 0.4);
	padding: 4px;
	border: 0;
}

.dupe-images ul {
	list-style: none;
}

a:hover, a:active, a:link {
	text-decoration: none;
}

a.toggled {
	background: #E65E1F;
}

a.toggled>span {
	color: white;
	text-decoration: none;
}